<f:layout name="Default" />

<f:section name="main">
    <h2><f:translate key="collections" /></h2>

    <ol>
        <f:for each="{collections}" as="collection">
            <li>
                <f:link.action action="detail" arguments="{id: collection.uid}">{collection.title}</f:link.action>
            </li>
        </f:for>
    </ol>

    <h2><f:translate key="persons" /></h2>

    <ol>
    <f:for each="{personal}" as="hans">
        <li>
            <f:link.action action="detail" arguments="{id: hans.uid}">{hans.title}</f:link.action>
        </li>
    </f:for>
    </ol>
</f:section>
